section {
	overflow: auto;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after, section:after {
	clear: both;
}

.invisible {
  visibility: hidden;
}

img {
	max-width: 100%;
	height: auto;
}
@media (min-width: 482px;){
	.input, .input1{max-width: 100%;}
	.footer-top img{padding-bottom: 10px;}
	.footer-top h2 {padding-bottom: 10px;}
	.footer-top p {font-size: 16px;}

}
@media (max-width:480px) {
	.gallery-inspiration{font-size: 18px; border-bottom: solid 3px #F0487C; float: none;}
	.button-upload{font-size: 14px;text-align: center;position: absolute;
		float: none;margin-top: 20px; width: 70%;}
	.col-c-4 img{max-width: 230px;margin-left: -30px;}
	.one{width: 212px;margin-left: -30px;}
	.two{width: 212px;margin-left: -30px;}
	.three{width: 212px;margin-left: -30px;}
	.four{width: 212px;margin-left: -30px;}
	.five{width: 212px;margin-left: -30px;}
	.six{width: 212px;margin-left: -30px;}
	a .btn-more{font-size: 14px;}

	.border-bot{border:none;}
   	.rangga{padding-top: 100px;}
   	.input, .input-1{max-width: 220px;}
   	.contact-img img{max-width: 250px;margin-top:50px;}
   	.footer-inner{padding-left: 0;}
   	textarea{max-width: 240px;}
   	.input input{max-width: 150px;}

   	.cont-msg h2{font-size: 22px; }
   	.cont-msg .quote p{font-size: 18px;}
   	.our .btn-submit a{font-size: 15px;}
	
	.footer-top img{padding-bottom: 10px;}
	.footer-top h2 {padding-bottom: 10px;font-size: 25px;}
	.footer-top p {font-size: 16px;}
   	.bot-bot {max-width: 100%;float: none;text-align: center; padding: 5px 0px 5px 0px;}
	.bot-bot a img{float: none}

}
@media (min-width: 1200px) {
}

.col-a-1, .col-a-2, .col-a-3, .col-a-4, .col-a-5, .col-a-6, .col-a-7, .col-a-8, .col-a-9,
.col-a-10, .col-a-11, .col-a-12,.col-b-1, .col-b-2, .col-b-3, .col-b-4, .col-b-5, .col-b-6, 
.col-b-7, .col-b-8, .col-b-9, .col-b-10, .col-b-11, .col-b-12, .col-c-1, .col-c-2, .col-c-3, 
.col-c-4, .col-c-5, .col-c-6, .col-c-7, .col-c-8, .col-c-9, .col-c-10, .col-c-11, .col-c-12,
.col-d-1, .col-d-2, .col-d-3, .col-d-4, .col-d-5, .col-d-6, .col-d-7, .col-d-8, .col-d-9,
.col-d-10, .col-d-11, .col-d-12  {
	float: left;
}

.col-a-1, .col-a-2, .col-a-3, .col-a-4, .col-a-5, .col-a-6, .col-a-7, .col-a-8, .col-a-9,
.col-a-10, .col-a-11, .col-a-12,.col-b-1, .col-b-2, .col-b-3, .col-b-4, .col-b-5, .col-b-6, 
.col-b-7, .col-b-8, .col-b-9, .col-b-10, .col-b-11, .col-b-12, .col-c-1, .col-c-2, .col-c-3, 
.col-c-4, .col-c-5, .col-c-6, .col-c-7, .col-c-8, .col-c-9, .col-c-10, .col-c-11, .col-c-12,
.col-d-1, .col-d-2, .col-d-3, .col-d-4, .col-d-5, .col-d-6, .col-d-7, .col-d-8, .col-d-9,
.col-d-10, .col-d-11, .col-d-12 {
	position: relative;
}
@media(max-width: 768px){
.col-a-1 {width: 8.33%;}
.col-a-2 {width: 16.66%;}
.col-a-3 {width: 25%;}
.col-a-4 {width: 33.33%;}
.col-a-5 {width: 41.66%;}
.col-a-6 {width: 50%;}
.col-a-7 {width: 58.33%;}
.col-a-8 {width: 66.66%;}
.col-a-9 {width: 75%;}
.col-a-10 {width: 83.33%;}
.col-a-11 {width: 91.66%;}
.col-a-12 {width: 100%;}
}
@media screen and (min-width: 768px) {
	.col-b-1 {width: 8.33%;}
	.col-b-2 {width: 16.66%;}
	.col-b-3 {width: 25%;}
	.col-b-4 {width: 33.33%;}
	.col-b-5 {width: 41.66%;}
	.col-b-6 {width: 50%;}
	.col-b-7 {width: 58.33%;}
	.col-b-8 {width: 66.66%;}
	.col-b-9 {width: 75%;}
	.col-b-10 {width: 83.33%;}
	.col-b-11 {width: 91.66%;}
	.col-b-12 {width: 100%;}
}

@media screen and (min-width: 992px){
	.col-c-1 {width: 8.33%;}
	.col-c-2 {width: 16.66%;}
	.col-c-3 {width: 25%;}
	.col-c-4 {width: 33.33%;}
	.col-c-5 {width: 41.66%;}
	.col-c-6 {width: 50%;}
	.col-c-7 {width: 58.33%;}
	.col-c-8 {width: 66.66%;}
	.col-c-9 {width: 75%;}
	.col-c-10 {width: 83.33%;}
	.col-c-11 {width: 91.66%;}
	.col-c-12 {width: 100%;}
}

@media screen and (min-width: 1200px) {
	.col-d-1 {width: 8.33%;}
	.col-d-2 {width: 16.66%;}
	.col-d-3 {width: 25%;}
	.col-d-4 {width: 33.33%;}
	.col-d-5 {width: 41.66%;}
	.col-d-6 {width: 50%;}
	.col-d-7 {width: 58.33%;}
	.col-d-8 {width: 66.66%;}
	.col-d-9 {width: 75%;}
	.col-d-10 {width: 83.33%;}
	.col-d-11 {width: 91.66%;}
	.col-d-12 {width: 100%;}
}